* {
   box-sizing: border-box;
}

.container {
   margin: auto;
   max-width: 1024px;
}

.login {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.password {
   position: relative;
}

.password_button {
   position: absolute;
   right: 0;
}