* {
   box-sizing: border-box;
}

.wrapper {
   margin: auto;
   max-width: 1024px;
}

.counters {
   padding: 0;
   display: flex;
}

.counters_item {
   display: flex;
   flex-direction: column;
   padding: 10px;
   flex: auto;
   list-style: none;
   min-height: 100px;
   border: 2px solid black;
}

.counters_value {
   text-align: center;
}